<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.databases"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.ActualizarEdificio"   android:parentActivityName=".views.ListaEdificios" ></activity>
        <activity android:name=".views.ActualizarCancha" android:parentActivityName=".views.ListaCanchas" />
        <activity android:name=".views.ActualizarUsuario"  android:parentActivityName=".views.ListaUsuarios" />
        <activity android:name=".views.HorarioReserva" />
        <activity android:name=".views.RealizarReserva" />
        <activity android:name=".views.DetalleReserva" />
        <activity android:name=".views.ListaReservas" />
        <activity android:name=".NavigationDrawer" />
        <activity android:name=".views.ListaEdificios" />
        <activity android:name=".views.FormularioEdificios"  android:parentActivityName=".views.ListaEdificios"/>
        <activity android:name=".views.FormularioCanchas" android:parentActivityName=".views.ListaCanchas" />
        <activity android:name=".views.ListaCanchas" />
        <activity android:name=".views.UsuarioHome" />
        <activity android:name=".views.AsistenteHome" />
        <activity android:name=".views.AdministradorHome" />
        <activity android:name=".views.FormularioUsuarios"  android:parentActivityName=".views.ListaUsuarios" />
        <activity android:name=".views.ListaUsuarios" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>